.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0 30px 0;
}

.btn-page {
	background-color: rgba(239, 239, 239, 0.3);
	border-radius: 2px;
	border: 1px solid rgb(25, 172, 37);
	box-sizing: border-box;
	color: aqua;
	cursor: pointer;
	display: inline-block;
	font-family: -apple-system, system-ui, 'Segoe UI', 'Liberation Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.15385;
	margin: 2px;
	outline: none;
	padding: 8px 0.8em;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: baseline;
	white-space: nowrap;
}

.btn-page:hover {
	background-color: #56e895;
	color: #000000;
}

.btn-page:disabled {
	background-color: #dadada;
	box-shadow: none;
	color: #8f8f8f;
	cursor: default;
	border: #8f8f8f;
}
