@import url('https://fonts.googleapis.com/css?family=Abel');

html,
body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
    background: rgb(32, 35, 41); 
}

.center {
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	flex-wrap: wrap;
	max-width: 1920px;
}
