.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    /* position: fixed; */
    bottom: 0;
    height: 10px;  
    background-image: url("./R&M.jpeg");
    color: white;
    padding: 4.5rem 0px;
    width: 100%;
  }
  
  .footer a {
    text-decoration: none;
    color: #ff3131;
  }